<footer>
  <section id="footer">
    <div class="company">
      <a href="/" target="_blank"
        ><img src="/images/logo.png" alt="logo" class="logo"
      /></a>
      <p>
        An easy solution to help you book your examinations and manage them online!
      </p>
      <div class="social_media">
        <h1>FIND US ON</h1>
        <div>
          <a href="https://www.facebook.com/"
            ><img src="/images/facebook.png" alt="facebook"
          /></a>
          <a href="https://www.instagram.com/"
            ><img src="/images/instagram.png" alt="instagram"
          /></a>
          <a href="https://twitter.com/home?lang=en"
            ><img src="/images/twitter.png" alt="twitter"
          /></a>
          <a href="https://www.linkedin.com/in/bhupesh-shrestha-04/"
            ><img src="/images/linkedin.png" alt="linkedin"
          /></a>
        </div>
      </div>
    </div>
    <hr />

    <div class="quick_links">
      <h1>Quick Links</h1>
      <ul>
        <li><a href="/">Dashboard</a></li>
        <li><a href="/g">G Test</a></li>
        <li><a href="/g2">G2 Test</a></li>
        <li><a href="login">Login</a></li>
      </ul>
    </div>
    <hr />

    <div class="stay_in_touch">
      <h1>Stay in Touch</h1>
      <ul>
        <li><a href="mailto:abc@email.com">abc@email.com</a></li>
        <li><a href="tel:1234567894">123-456-7894</a></li>
        <li>123 Lorem Street, Waterloo, Canada</li>
      </ul>
    </div>
    <hr />

    <div class="recent_posts">
      <h1>Recent Posts</h1>
      <article class="recent_post">
        <img src="/images/driving.jpg" alt="recent" />
        <h2 class="description">Driving Rules Changed</h2>
        <p class="date_author">Sept 22, 2022 By Jane Doe</p>
      </article>
      <article class="recent_post">
        <img src="/images/speed.jpg" alt="recent" />
        <h2 class="description">New Speed Limit Rules</h2>
        <p class="date_author">Sept 22, 2022 By John Doe</p>
      </article>
    </div>
  </section>
  <p>Copyright &copy; 2022 | DriveTest Booking Kiosk</p>
</footer>
